/*Generics*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: Arial (sans-serif);
}

.center{
    margin: 0 auto;
}

.container{
    background-color: white;
    width: 50%;
    height: auto;
    margin-top: 80px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 30px;

}

ul{
    list-style-position: inside;
    list-style-type: none;
}

li{
    margin-top: 20px;
}

body{
    background-color: rgb(30,200, 50);
}

.inline{
    display: inline;
}

#title{
    vertical-align: middle;
}

/*Intestazione*/

header{
    height: 50px;
    width: auto;
    background-color: white;
}

#logo-boolean{
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
}

#title{
    vertical-align: middle;
}

/*Main*/

section{
    margin-bottom: 30px;
}

.block{
    border-radius: 15px;
    width: 70px;
    height: 35px;
    padding: 5px;
    margin-top: 40px;
    text-decoration: none;
}

#add-task{
    background-color: #47ADF1;
    border: 1px #47ADF1 solid;
}

#add-section{
    background-color: white;
    border: 1px #C6CCD1 solid;
    color: grey;
}

.white-text{
    color: white;
    font-size: 10px;
}

.font-inside{
    font-size: 10px;
}

/*Edit entity*/

.okay{
    width: auto;
    height: auto;
    border-radius: 50%;
    border: 1px green solid;
    color: green;
}

.not-today{
    width: auto;
    height: auto;
    border-radius: 50%;
    border: 1px red solid;
    color: red;
}

#editorial{
    background-color: #47ADF1;
}

#q1-goals{
    background-color: #9C72E4;
}

#recruiting{
    background-color: #64C0A9;
}

#mobile{
    background-color: #F29E33;
}

#sales{
    background-color: #B0C926;
}

#website{
    background-color: #D863A1;
}